@import "../../../../resources/styles/mixins.scss";
@import "../../../../resources/styles/variables.scss";

.title{
    font-weight: $bold;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", sans-serif;
}